# This is Git's per-user configuration file.
[user]
	name = Stephen Ulmer
	email = ulmer@ulmer.org
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIL678Vyxez0NwOwQ2EdHYuu57m4aIdLQDBonl4wnC1WX
[push]
	followTags = true
[init]
	defaultBranch = main
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[alias]
	root = "!git rev-parse --show-toplevel;"
	ck = for-each-repo --config=ck.repo
	ck-update = "!f() { \
		ckroot=$(git-config --get ck.root) \
		repos=$(find ${ckroot} -name .git) \
		}; f"
[ck]
	root = ~/Projects/msmo/ck-aap
	repo = ~/Projects/msmo/ck-aap/META
	repo = ~/Projects/msmo/ck-aap/collection-ck-bootstrap
	repo = ~/Projects/msmo/ck-aap/collection-ck-ops
	repo = ~/Projects/msmo/ck-aap/collection-ck-protect
	repo = ~/Projects/msmo/ck-aap/collection-ck-scale
	repo = ~/Projects/msmo/ck-aap/collection-ck-setup
	repo = ~/Projects/msmo/ck-aap/inventory-bootstrap-slu
	repo = ~/Projects/msmo/ck-aap/inventory-ck1
	repo = ~/Projects/msmo/ck-aap/inventory-ck2
	repo = ~/Projects/msmo/ck-aap/inventory-ck3
	repo = ~/Projects/msmo/ck-aap/inventory-ck4
	repo = ~/Projects/msmo/ck-aap/lab-smc-aap
	repo = ~/Projects/msmo/ck-aap/lab-smc-install
	repo = ~/Projects/msmo/ck-aap/project-bootstrap
	repo = ~/Projects/msmo/ck-aap/project-bootstrap/inventory
	repo = ~/Projects/msmo/ck-aap/project-lab
	repo = ~/Projects/msmo/ck-aap/project-reports
[gpg]
	format = ssh
[gpg "ssh"]
	program = /Applications/1Password.app/Contents/MacOS/op-ssh-sign
[commit]
	gpgsign = true
